<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burger App</title>
    <link rel="icon" href="assets/img/burger.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/burger_style.css" rel="stylesheet">
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>
      <footer class=" center footer">
        <div class="container">
          <p> © Burger App</p>
        </div>
      </footer>
  </body>
</html>