h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

body {
	background-color: lightsalmon;
}

li {
	padding: 12px;
	margin: 12px;
	background-color: white;
}

ul {
	list-style: none;
}

.label {
  font-weight: bold;
}

.center {
	text-align: center;
}

.right {
	align-content: right;
}

img {
	align-content: center;
}

.form-group {
	margin-bottom: 5px;
	text-align: center;
}

.footer {
	text-align: center;
}

.message {
	box-sizing: border-box;
	width: 100%;
	height: 50%;
	background-color: black;
	color: white;
}

.create-update-form {
	padding: 20px;
	margin: 20px;
	background: white;
  }